body{
    margin: 0px; 
}

h4 {
    margin: 0px;
    font-size: 30px;
    color: white;
}

nav {
    height: 80px; 
    text-align: center;
    font-family: 'Rock Salt', cursive;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.btn{
    padding: 10px 30px;
    outline: none;
    border: 4px solid black;
    border-radius: 10px;
    font-family: 'Bowlby One SC', cursive;
    font-size: 20px;
    background-color: transparent;
}

.btn:hover{
    background-color: lavender;
}

main{
    text-align: center;
    padding: 20%; 
}

h2 {
    font-size: 30px;
    font-family: 'Bowlby One SC', cursive;
}

.hexColor {
    margin-left: 20px;
}

.rgba {
    margin-left: 20px;
}